# Keep compatilibity between windows and unix-like OS
* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Archive Format
*.tar.gz filter=lfs diff=lfs merge=lfs -text
