{
  "$schema": "https://docs.renovatebot.com/renovate-schema.json",
  "extends": [
    "config:recommended",
[%- if repo_name == 'ss-cpp' or repo_platform == 'github' %]
    "helpers:pinGitHubActionDigests",
[%- endif %]
    ":enablePreCommit"
  ],
  "automergeType": "pr",
  "automergeStrategy": "merge-commit",
  "ignoreScripts": false,
  "platformAutomerge": false,
  "packageRules": [
    {
      "automerge": true,
      "addLabels": [
        "auto-approval"
      ],
      "extends": [
        "schedule:earlyMondays",
        "schedule:automergeMonthly"
      ],
      "matchUpdateTypes": [
        "minor",
        "patch",
        "pin",
        "digest"
      ]
    },
[%- if repo_name == 'ss-cpp' %]
    {
      "matchDepTypes": [
        "action"
      ],
      "postUpgradeTasks": {
        "commands": [
          "find template -type f -exec sed -i -E {{ '\'s/{{{replace \\"/\\" \\"\\\\/\\" depName}}}(.*)@{{{currentDigest}}} # {{{currentValue}}}/{{{replace \\"/\\" \\"\\\\/\\" depName}}}\\\\1@{{{newDigest}}} # {{{newValue}}}/g\' {} +' }}",
          "find template -type f -exec sed -i -E {{ '\'s/{{{replace \\"/\\" \\"\\\\/\\" depName}}}(.*)@{{{currentValue}}}/{{{replace \\"/\\" \\"\\\\/\\" depName}}}\\\\1@{{{newDigest}}} # {{{newValue}}}/g\' {} +' }}"
        ]
      }
    },
    {
      "matchDepTypes": [
        "github-runner"
      ],
      "postUpgradeTasks": {
        "commands": [
          "find template -type f -regex 'template/.*\\.github.*/workflows/.*' -exec sed -i {{ '\'s|{{{depName}}}-{{{currentValue}}}|{{{depName}}}-{{{newValue}}}|g\' {} +' }}"
        ]
      }
    },
    {
      "matchManagers": [
        "pre-commit"
      ],
      "postUpgradeTasks": {
        "commands": [
          "find template -type f -name '.pre-commit-config.yaml.jinja' -exec sed -i {{ '\'/{{{replace \\"/\\" \\"\\\\/\\" depName}}}/{N;s/rev: {{{currentValue}}}/rev: {{{newValue}}}/}\'' }} {} +"
        ]
      }
    },
    {
      "matchDepTypes": [
        "container",
        "image",
        "image-name",
        "service-image"
      ],
      "postUpgradeTasks": {
        "commands": [
          "find template -type f -exec sed -i {{ '\'s|{{{depName}}}:{{{currentValue}}}@{{{currentDigest}}}|{{{depName}}}:{{{newValue}}}@{{{newDigest}}}|g\'' }} {} +"
        ]
      }
    },
[%- endif %]
    {
      "description": "Group renovate docker tag and pre-commit-hooks tag",
      "groupName": "renovate group",
      "addLabels": [
        "renovate"
      ],
      "matchDatasources": [
        "docker",
        "github-tags"
      ],
      "matchDepNames": [
[%- if repo_platform == 'github' %]
        "ghcr.io/renovatebot/renovate",
[%- endif %]
[%- if repo_platform == 'gitlab' or reop_host_type == 'gitlab-self-managed' or repo_name == 'ss-cpp' %]
        "renovate/renovate",
[%- endif %]
        "renovatebot/pre-commit-hooks"
      ]
    }
  ],
  "customManagers": [
    {
      "description": "Update python packages installed with pip or pipx",
      "customType": "regex",
      "datasourceTemplate": "pypi",
      "fileMatch": [
        "^\\.github/workflows/.+\\.yml$",
        "^\\.renovaterc\\.json$",
        "^Makefile$"
[%- if repo_name == 'ss-cpp' %],
        "^template/.*?/workflows/.+\\.yml(\\.jinja)?$",
        "^template/\\.renovaterc\\.json\\.jinja$",
        "^template/Makefile\\.jinja$"
[%- endif %]
      ],
      "matchStrings": [
        "pipx? install.* (?<depName>.*?)==(?<currentValue>.*?)[\\s\";]"
      ]
    },
    {
      "description": "Update microsoft vcpkg baseline",
      "customType": "regex",
      "currentValueTemplate": "master",
      "datasourceTemplate": "git-refs",
      "depNameTemplate": "https://github.com/microsoft/vcpkg",
      "depTypeTemplate": "vcpkg-baseline",
      "fileMatch": [
        "^vcpkg\\.json$"
[%- if repo_name == 'ss-cpp' %],
        "^template/vcpkg\\.json\\.jinja$"
[%- endif %]
      ],
      "matchStrings": [
        "\"builtin-baseline\": \"(?<currentDigest>.*?)\""
      ]
    },
    {
      "description": "Update custom registry baseline",
      "customType": "regex",
      "currentValueTemplate": "master",
      "datasourceTemplate": "git-refs",
      "depTypeTemplate": "vcpkg-baseline",
      "fileMatch": [
        "^vcpkg\\.json$"
[%- if repo_name == 'ss-cpp' %],
        "^template/vcpkg\\.json\\.jinja$"
[%- endif %]
      ],
      "matchStrings": [
        "\"baseline\": \"(?<currentDigest>.*?)\"[^}]+?\"repository\": \"(?<depName>.*?)\""
      ]
    }
  ]
}
