include:
  - remote: https://gitlab.com/msclock/gitlab-ci-templates/-/raw/v2.4.3/collections/All-Projects-General.gitlab-ci.yml
  - remote: https://gitlab.com/msclock/gitlab-ci-templates/-/raw/v2.4.3/collections/Code-Quality.gitlab-ci.yml

variables:
  LINT_YAML_ENABLE: ''
  LINT_MD_ENABLE: ''
