[%- from pathjoin("includes", "variable.jinja") import repo_url with context -%]

cmake_minimum_required(VERSION 3.25)
message(STATUS "CMAKE VERSION:${CMAKE_VERSION}")

project(
  {{ repo_name }}
  LANGUAGES CXX C
  HOMEPAGE_URL "https://{{ repo_url() }}"
  DESCRIPTION "{{ project_description }}")

set(CMAKE_CXX_STANDARD
    20
    CACHE STRING "C++ standard")
set(CMAKE_CXX_STANDARD_REQUIRED
    ON
    CACHE BOOL "C++ standard required")
set(CMAKE_CXX_EXTENSIONS
    OFF
    CACHE BOOL "C++ extensions")

# Source includes from vcpkg
include_directories(${VCPKG_INSTALLED_DIR}/${VCPKG_TARGET_TRIPLET}/include)

# Project default module
find_package(cmake-modules REQUIRED)
include(cmake-modules/ProjectDefault)

# Project custom modules
list(APPEND CMAKE_MODULE_PATH "${CMAKE_CURRENT_SOURCE_DIR}/cmake")
include(ConfigureWarningsAndHardening)
include(ConfigureVersion)
include(ConfigureDocs)
include(ConfigureCoverage)
[%- if use_cpm == true %]
include(ConfigureCPMDependencies)
[%- endif %]
[%- if use_cpm == true %]
include(ConfigureConanDependencies)
[%- endif %]

add_subdirectory(src)
