{
  "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg-tool/main/docs/vcpkg.schema.json",
  "name": "{{ ss_cmake_repo_name }}",
  "description": "{{ ss_cmake_project_description }}",
  "builtin-baseline": "5bf0c55239da398b8c6f450818c9e28d36bf9966",
  "homepage": "https://{{ ss_cmake_repo_url }}",
  "dependencies": [
[%- if compile_target != '' or exe_target != '' or header_target != '' %]
    "fmt",
    "spdlog",
[%- endif %]
[%- if use_conan == true %]
    "cmake-conan",
[%- endif %]
[%- if use_cpm == true %]
    "cmake-cpm",
[%- endif %]
    "cmake-modules",
    "robotology-cmake-ycm"
  ],
  "overrides": [
[%- if compile_target != '' or exe_target != '' or header_target != '' %]
    {
      "name": "fmt",
      "version": "11.2.0"
    },
    {
      "name": "spdlog",
      "version": "1.15.2"
    },
[%- endif %]
[%- if use_conan == true %]
    {
      "name": "cmake-conan",
      "version": "0.18.1"
    },
[%- endif %]
[%- if use_cpm == true %]
    {
      "name": "cmake-cpm",
      "version": "0.40.2#2"
    },
[%- endif %]
    {
      "name": "cmake-modules",
      "version": "1.6.14"
    },
    {
      "name": "robotology-cmake-ycm",
      "version": "0.16.3"
    }
  ],
  "features": {
    "test": {
      "description": "Dependencies for testing",
      "dependencies": [
[%- if unit_test == 'gtest' %]
        {
          "name": "gtest",
          "version>=": "1.14.0"
        }
[%- elif unit_test == 'catch2' %]
        {
          "name": "catch2",
          "version>=": "3.7.1"
        }
[%- endif %]
      ]
    }
  },
  "vcpkg-configuration": {
    "registries": [
      {
        "kind": "git",
        "baseline": "cded60f4297c757a0a34df7c512a31edd6b2276f",
        "repository": "https://github.com/msclock/cmake-registry",
        "packages": [
[%- if ss_cmake_use_conan == true %]
          "cmake-conan",
[%- endif %]
[%- if ss_cmake_use_cpm == true %]
          "cmake-cpm",
[%- endif %]
          "cmake-modules",
          "robotology-cmake-ycm",
          "vcpkg-cmake-module"
        ]
      }
    ],
    "overlay-ports": [
      "cmake/vcpkg/ports"
    ],
    "overlay-triplets": [
      "cmake/vcpkg/triplets"
    ]
  }
}
