{
  "$schema": "https://raw.githubusercontent.com/microsoft/vcpkg-tool/main/docs/vcpkg.schema.json",
  "name": "{{ repo_name }}",
  "description": "{{ project_description }}",
  "builtin-baseline": "cc97b4536ae749ec0e4f643488b600b217540fb3",
  "dependencies": [
    "abseil",
    [%- if use_conan == true %]
    "cmake-conan",
    [%- endif %]
    [%- if use_cpm == true %]
    "cmake-cpm",
    [%- endif %]
    "cmake-modules",
    "proxy"
  ],
  "vcpkg-configuration": {
    "registries": [
      {
        "kind": "git",
        "baseline": "b8e1db52b9067b0087f4b5d9ce48f731b048d5dc",
        "repository": "https://github.com/msclock/cmake-registry",
        "packages": [
          [%- if use_conan == true %]
          "cmake-conan",
          [%- endif %]
          [%- if use_cpm == true %]
          "cmake-cpm",
          [%- endif %]
          "cmake-modules",
          "vcpkg-cmake-module"
        ]
      }
    ]
  }
}
