#include <gtest/gtest.h>
#include "{{ compile_target }}.hpp"

TEST({{ compile_target }}, version) {
    const auto version = git_ProjectVersion();
    EXPECT_STRNE(version, "");
}

TEST({{ compile_target }}, distribution) {
    const auto is_debug = {{ compile_target }}::distribution::is_debug();
#ifdef _DEBUG
    EXPECT_TRUE(is_debug);
#else
    EXPECT_FALSE(is_debug);
#endif
}
