#include <gtest/gtest.h>
#include "{{ header_target }}/{{ header_target }}.hpp"

TEST({{ header_target }}, version) {
    const auto version = git_ProjectVersion();
    EXPECT_STRNE(version, "");
}

TEST({{ header_target }}, distribution) {
    const auto is_debug = {{ header_target }}::distribution::is_debug();
#ifdef _DEBUG
    EXPECT_TRUE(is_debug);
#else
    EXPECT_FALSE(is_debug);
#endif
}
