#include "gtest/gtest.h"

#include "distribution.hpp"
#include "git.h"

TEST({{ exe_target }}, version) {
    const auto* const version = git_ProjectVersion();
    EXPECT_STRNE(version, "");
}

TEST({{ exe_target }}, distribution) {
    const auto is_debug = {{ exe_target }}::distribution::is_debug();
#ifdef _DEBUG
    EXPECT_TRUE(is_debug);
#else
    EXPECT_FALSE(is_debug);
#endif
}
