# Welcome to {{ project_name }}'s documentation

<!-- Extract content from start line 1 of README.md -->

```{include} ../README.md
:start-line: 1
```

## Content
[% if repo_name == 'ss-cpp' %]
```{toctree}
:maxdepth: 2
:titlesonly:
:caption: Guide
:glob:

Overview <self>
Tutorials <tutorials/index>
Topics <topics/index>
Principles <principles/index>
```
[%- endif %]

```{toctree}
:maxdepth: 1
:titlesonly:
:caption: References

[% if repo_name == 'ss-cpp' -%]
contributing
[% endif -%]
api
```

## Indices and tables

* {ref}`genindex`
* {ref}`search`
