# Welcome to {{ project_name }}'s documentation

```{toctree}
:hidden:
Overview <self>
[% if repo_name == 'cpp-scaffold' -%]
cmake_workflow
[% endif -%]
changelog
api
coverage/index
```

```{include} ../README.md
:start-line: 1
```

## 🔖 Indices and tables

* {ref}`genindex`
* {ref}`search`
