#pragma once

namespace {{ exe_target }} {
namespace distribution {
/**
 * \return A bool represents if it is debug distribution.
 */
bool is_debug() noexcept;
} // namespace distribution
} // namespace {{ exe_target }}
