module;

module {{ compile_module_target }};

namespace {{ compile_module_target }} {
namespace distribution {
bool is_debug() noexcept {
#ifdef _DEBUG
    return true;
#else
    return false;
#endif
}
} // namespace distribution
} // namespace {{ compile_module_target }}
